.primeira-div {
	background-color: #222222;
	position: absolute;
	width: 900px;
	height: 583px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	font-size: 30px;
	color: white	;
}	

.valores{
	width: 839px;
	height: 218px;
	display: flex;
}

.moeda-valor{
	position: absolute;
	width: auto;
	height: auto;
	background-color: blue;
	border-radius: 5px;
}

#div-moedas p {
	font-size: 20px;
	color: white;
}